/*COLORS
Full background: #1a1f24
Content background: #0a0f14
Focused background: #070a0f
Borders are silver or black for now.
Text is white.

Farther forward = darker background
*/
body{
    background-color: #1a1f24;
    color: white;
    padding: 0;
    margin:0;
}

p{
    font-size: 14pt;
}

.navbar{
    width: 100%;
    height: 3vw;
    position:relative;
    left: 0;
    top:0;
    padding: 0;
    margin: 0;
    display: flex;
}
.navbar button{
    flex: 1;
    margin: 0;
    padding: 1em;
    border-left: 0;
    border-right: 2px solid silver;
    background-color: #0a0f14;
    color: white;
    font-size: 12pt;
    overflow: hidden;
}
.navbar button:hover{
    background-color: #070a0f;
}

.content{
    width:80%;
    position: relative;
    left: 10%;
    padding: 10px;
    margin-top:20px;
    border: 2px solid #000000;
    background-color: #0a0f14;
}

.portrait{
    width: 180px;
    height: 259px;
    margin-right: 10px;
    border: solid silver;
}

#home{
    display:flex;
    padding:10px;
}

#cv{
    display:none;
    padding:10px;
}
#cv a{
    text-align: center;
    width:20%;
    position: relative;
    left: 40%;
    background-color: #070a0f;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 14pt;
    border: 2px solid #000000;

}

#education{
    display:none;
    padding:10px;
    text-align: center;
}

#skills{
    display:none;
    padding:10px;
    text-align: center;
}
#projects{
    display:none;
    padding:10px;
    text-align: center;
}

#contact{
    display:none;
    padding:10px;
    text-align: center;
}